<footer class="mt-auto py-3 text-center">

  <small class="text-muted mb-2">
    <i class="fas fa-code"></i> with <i class="fas fa-heart"></i>
    by <strong>{{ site.author.name }}</strong>
    <br>
    This page is <b>open source</b>. Something unclear? Any suggestions?
    <a href="https://github.com/somanshreddy/somanshreddy.github.io">Improve it on GitHub</a>
  </small>

  {%- assign theme_name = "portfolYOU" -%}
  {%- assign theme_repo = "https://github.com/YoussefRaafatNasry/portfolYOU" -%}
  <small id="attribution">
    theme <a href="{{ theme_repo }}">{{ theme_name }}</a>
  </small>
  
</footer>