<div class="col mt-4">

  <h3>Areas</h3>
  <ul>
  	<li>Machine Learning Systems</li>
  	<li>Distributed Systems</li>
  	<li>Cloud</li>
  	<li>Natural Language Processing</li>
  </ul>

  <h3>Current work</h3>
  I am working with <a href="https://manipal.edu/mit/department-faculty/faculty-list/krishnamoorthi-makkithaya.html">Professor Krishnamoorthi Makkithaya</a> and <a href="https://manipal.edu/mit/department-faculty/faculty-list/dinesh-acharya-u.html">Professor Dinesh Acharya U</a> on Topic Modelling. Our work identifies latent topics within Amazon phone reviews to assess why certain companies consistently dominate the smartphone market.

  <h3>Future work</h3>
  I am reading research in Systems, ML and the Cloud to help me answer the following questions:
  
  <ul>
   <li>Can task and model parallelism be effectively combined to parallelize ML models?</li>
   <li>How to schedule such operations across distributed workers?</li>
   <li>Can advancements in serverless computing further scale these models?</li>
  </ul>

  <h3>Academia or Industry?</h3>
  I would like to work in the industry. However, I have noticed that many complex problems in the industry are often solved by research. I would like to pursue a more systematic and rigorous approach to research to help me in the industry. Hence, I plan to apply for a Master's in CS with a concentration in Systems and Machine Learning. This would also help me answer the above questions that I am interested in. <br> <br>

  <h3>Masters or Ph.D.?</h3>
  <p> Initially, I had not even considered a Ph.D. due to the sheer length of the program. It did not make sense to study for 6+ years when my future goal was to work in the industry. However, it was only during my final year of my undergraduate that I started to understand the intent behind a Ph.D.</p>
  
  <p> I have read many interesting papers this year which involve Systems + X, where X is any other field. Among the papers I enjoyed reading, the X was usually Machine Learning, or the Cloud, or even both. I'll admit that there have been a few instances where I was amazed and stopped to think, "I really want to work on this! Maybe I should consider a Ph.D. after my Masters..."</p>

  <p> However, right now I believe that a Master's would give me sufficient exposure to research in this field before I join the industry. I am currently reading research published at top Systems conferences so that I will be able to start contributing early to research labs when I join graduate school.</p>

  Check out my <a href="https://drive.google.com/file/d/1ReNcJ3OBSsS92TOQSbum2PXcYuULdD63/view?usp=sharing">CV/Resume</a> for details about my past work.

</div>