<div class="col mt-4">

  <h3>Areas</h3>
  <ul>
  	<li>Machine Learning Systems</li>
  	<li>Distributed Systems</li>
  	<li>Cloud</li>
  	<li>Natural Language Processing</li>
  </ul>

  <h3>Current work</h3>
  I am working with <a href="https://manipal.edu/mit/department-faculty/faculty-list/krishnamoorthi-makkithaya.html">Krishnamoorthi Makkithaya</a> and <a href="https://manipal.edu/mit/department-faculty/faculty-list/dinesh-acharya-u.html">Professor Dinesh Acharya U</a> on Topic Modelling.

  <h3>Future work</h3>
  I am reading research in the intersection of Systems, ML and the Cloud to help me answer the following questions:
  
  <ul>
   <li>Can task and model parallelism be effectively combined to parallelize ML models?</li>
   <li>How to schedule such operations across distributed workers?</li>
   <li>Can advancements in serverless computing further scale these models?</li>
  </ul>

  <h3>Academia or Industry?</h3>

  I would like to work in the industry. But the more complex problems in the industry are often solved by research. I plan to apply for a Masters in CS with a concentration in Systems and Machine Learning to help me answer the above research questions. <br> <br>

  Check out my <a href="https://drive.google.com/file/d/1ReNcJ3OBSsS92TOQSbum2PXcYuULdD63/view?usp=sharing">CV/Resume</a> for details about my past work.

</div>